.wall {
  background-color: #fcfcf4;
  min-width: 100%;
  width: 100%;
  height: 100%;
  z-index: 95;
}

/* .wallOpacity {
  display: flex; 
  background-color: #fcfcf4;
  opacity: 0.4;
  width: 100%;
  height: 100vh;
} */


/* Opacity */
.wallShadow, .wallShadowLeft, .wallShadowRight {
  background-color: #fcfcf4;
  opacity: 0.4;
}

.wallShadow {
  box-shadow: inset 0 -100px 150px 100px rgb(236, 236, 236);
  /* margin: 0 417px; */
  width: 100%;
  height: 100vh;
  z-index: 95;
}

.wallShadowLeft {
  /* box-shadow: inset -30px -100px 60px 10px rgb(230, 230, 230); */
  width: 417px;
  height: 120%;
  background-color: rgb(236, 236, 236);
  filter: brightness(0.95); 
  transform: perspective(400px) rotateY(8deg);
  z-index: 100;
}

.wallShadowRight {
  /* box-shadow: inset -30px -100px 60px 10px rgb(230, 230, 230); */
  width: 417px;
  height: 100vh;
  background-color: rgb(236, 236, 236);
  filter: brightness(0.95); 
}