.floor {
  overflow: hidden;
  z-index: 90;
}

.backgroundColor {
  background-color: grey;
  height: 500px;
  transform: perspective( 600px ) rotateX( 65deg );
}

.backgroundImage {
  opacity: 1;
  width: 140%; 
  height: 100%;
  overflow-x: hidden;
  margin-left: -700px; /* magic */
  margin-top: -200px; /* magic */
}