body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
}

html, body {
  max-height: 1024px;  /* minus browser bar? */
  height: 1024px;
  overflow-y: hidden; 
}

* {
  box-sizing: border-box;
}

/* Canvas */
.canvas {
  position: relative;
  height: 100vh;
}
